/* basic reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
html {
    font-size: clamp(18px, 1.65vmax, 24px);

}
/*  /reset */

.wrapper {
    max-width: 996px;
    margin: 0 auto;
    padding: 0 20px;
    color: #4E4545;
    font-family: sans-serif;
}

.app__ctrl {
    margin-top: 80px;
}

.ctrl {
    display: flex;
    flex-wrap: wrap;
}
.ctrl__add-task {
    flex: 1 1 auto;
    margin-right: 20px;
    min-width: 260px;
}
.ctrl__add-task {
    
}
.ctrl__filter-task {
    
}

@media (max-width: 640px) {
    .ctrl {
        display: block;
    }
    .ctrl__add-task {
        margin-right: 0;
    }
    .ctrl__filter-task {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}