.view-ctrl {
    display: flex;
    margin-top: 83px;
}
.view-ctrl__search {
    flex: 0 1 70%;
    margin-right: 20px;
}
.view-ctrl__filter {
    flex: 0 0 max(287px, 30%);
    display: flex;
    justify-content: space-between;
}

@media (max-width: 655px) {
    .view-ctrl {
        display: block;
    }
    .view-ctrl__search {
        margin-right: 0;
    }
    .view-ctrl__filter {
        margin-top: 20px;
        max-width: 300px;
    }
}
